* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('Dark_Theme.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.login-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;  
    backdrop-filter: blur(15px);
}

h2 {
    font-size: 2em;
    color: white;
    text-align: center;
}

.input-box {
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid white;

}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    pointer-events: none;
}

.input-box input:defined~label{
    top: -5px;  
}

.input-box input {
    width: 100%;
    height: 35px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: white;
    font-size: 1.2em;
    line-height: 1vh;
}

button {
    width: 100%;
    height: 40px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;
}

@media (max-width: 400px) {
    .login-box {
        height: 100vh;
        border: none;
        border-radius: 0;
        transition: 0.5s;
    }

    .input-box {
        width: 75dvw;
    }
}

@media (max-height: 450px) {
    .login-box {
        width: 100dvw;
        border: none;
        border-radius: 0;
        transition: 0.5s;
    }
    
    .input-box {
        width: 75dvw;
        transition: 0.5s;
    }
}